<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous"/>

    <title>Tela de Login!</title>
</head>
<body style="background-color: #f8f9fa;">

<nav style="background-color: #17a2b8 !important" class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 text-white">Login</span>
    </div>
</nav>

<!-- Card com Form de login -->
<div class="container mt-4 d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center mb-4">Faça Login</h5>
            
            <!-- Form de login -->
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email"/>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="password" name="password"/>
                </div>
                <button type="submit" class="   btn btn-primary btn-block">Entrar</button>
            </form>
            <!-- Fim do Form de login -->
            
        </div>
    </div>
</div>

<!-- Rodapé -->
<footer class="bg-light text-center text-lg-start mt-5">
    <div class="text-center p-3" style="background-color: #17a2b8 !important; color: white;">
        Desenvolvido por Gabriel Silva &copy; 2024
    </div>
</footer>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>
</html>
